<nav class="navbar navbar-expand-lg navbar-dark bg-danger text-info">
  <div class="container-fluid text text-dark" >
    <a class="navbar-brand text-dark" href="#">PROYECTO - CRUD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav text-dark">
        
        <li class="nav-item ">
          <a class="nav-link" routerLink="/"> <i class="fas fa-list"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/nuevo"><i class="fas fa-plus-circle"></i> Agregar Ciudad</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>





<router-outlet></router-outlet>

